<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.salary.calculator.mapper.UserMapper">
    
    <select id="findByUsername" resultType="com.salary.calculator.entity.User">
        SELECT * FROM users WHERE username = #{username}
    </select>
    
    <select id="findByEmail" resultType="com.salary.calculator.entity.User">
        SELECT * FROM users WHERE email = #{email}
    </select>
    
    <select id="findById" resultType="com.salary.calculator.entity.User">
        SELECT * FROM users WHERE id = #{id}
    </select>
    
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO users (username, email, password, role, created_at)
        VALUES (#{username}, #{email}, #{password}, #{role}, CURRENT_TIMESTAMP)
    </insert>
    
</mapper>
